*/__pycache__
*.pyc
logs
*.pth
*/evaluations/*
*_trial.py
*.png
*.jpg
.ipynb_checkpoints
eval_excel/
datasets/*
!datasets/*_cust.json
tools/extensions/
wandb/
eval/intflow

images/
figures/
landmark_json/
lapirn_figures/

*.pdf
*.tar.gz
*.pkl
*.svg