ants==0.0.7
antspyx==0.3.7
asposestorage==1.0.2
bilateralfilter_torch==1.1.0
frnn==0.0.0
future==0.18.3
h5py==3.7.0
ipdb==0.13.11
matplotlib==3.5.2
ml_collections==0.1.1
monai==1.0.0
natsort==8.4.0
nibabel==4.0.2
numpy==1.23.1
Pillow==10.1.0
pystrum==0.3
scikit_image==0.19.2
scipy==1.9.1
skimage==0.0
timm==0.6.12
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.1
